<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style-signup-login.css}" rel="stylesheet">
</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="login-page">
    <div class="form">

        <form method="post" class="login-form">
            <input type="email" name="email" placeholder="Введите почту" required/>
            <input type="password" name="password" placeholder="Введите пароль" required/>
            <button>Войти</button>
        </form>

    </div>
</div>

<script type="text/javascript" th:src="@{/main-signup-login.js}"></script>

</body>

</html>